.container {
	background-color: #F8F8FF;
	padding-top: 1%;
	box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
	min-height:100vh;
}

.navbar {
	padding-left: 10%;
	padding-right: 10%;
	-webkit-box-shadow: 0 8px 6px -6px gray;
	   -moz-box-shadow: 0 8px 6px -6px gray;
	        box-shadow: 0 8px 6px -6px gray;
}
.login-page {
	padding-top: 10%;
	background-color: #F8F8FF;
	/*text-align: center; */
}
.form-errors {
	color:red;
}

/* Feed */
.feed-info {
	padding-top: 1%;
	background-color: #F8F8FF;
	padding-bottom: 1%;
}
.feed-types {
	border-right: solid #343a40;
  	border-width: thin;
	min-height:85vh;
}
.feed-post {
	background-color: #FCFCFC;
	border-radius: 5px;
	margin-bottom: 1%;
	padding: 5px 15px;
	box-shadow: 0px 2px 2px gray, 
        -2px 2px 2px gray, 2px 2px 2px gray;
}
.feed-user {
	font-size: 20px;
}
.feed-time {
	font-size: 12px;
}
.feed-body {
	font-size: 18px;
	text-indent: 12px;
}

.post-area {
	resize: none;
	width: 80%;
	height:2.5em;
	display:inline-block;
    vertical-align: top;
    border-radius: 5px;
}
#postBtn {
	display:inline-block;
    vertical-align: top;
    width: 100px;
}
@media (max-width:768px) {
	.feed-types {
		min-height: auto;
		border:0;
	}
	.post-area {
		width: 100%;
		margin-left:0;
	}
	.new-post {
		text-align: center;
	}
	#postBtn {
		margin-top:1%;
		text-align: center;
	}
}

/* Profile */
.profile-body {
	background-color: #F8F8FF;
	padding-top: 1%;
}
.profile-post {
	border-right: 1px solid #343a40;
	border-left: 1px solid #343a40;
	min-height: 85vh;
}
@media (max-width:768px) {
	.profile-post {
		border-right:0px;
		border-left:0px;
		border-top: 1px solid #343a40;
		border-bottom: 1px solid #343a40;
	}
}
.profile-body{
	height:auto;
}
.profile-info {
	padding-top: 1%;
}
.profile-img {
	margin: auto;
	width: 150px;
	height: 150px;
	border: 1px solid black;
}
#profileImg-upload{
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.custom-file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 2px 4px;
    cursor: pointer;
    background-color: #DEDEDE;
    border: 1px solid #343a40;
}
.imgUpload {
	text-align: center;
	padding-top: 5%;
}
.follow-btn-div {
	padding-top: 5%;
	text-align: center;
}
.follow-btn {
	width: 100%;
}

/* Browse */
.browse-body {
	background-color: #F8F8FF;
	padding-top: 3%;
	height: 200px;
}

.add-company, .add-drink {
	background-color: #F8F8FF;
	padding-top: 1%;
}

/* Drink / company */
.dc-container {
	height: 300px;
	margin:auto;
	box-shadow: 0 4px 2px -2px gray;
	background-color:#333745;
	color:white;
}
.dc-info {
	height: 200px;
	text-align:left;
}

/* Drink page */
.drink-reviews {
	height: 400px;
}
.drink-make-review {
	padding-top: 1%;
	margin: auto;
	width: 50%;
}
.review-container {
	padding-left: 5%;
}
.review-post {
	background-color: #FCFCFC;
	border-radius: 5px;
	margin-bottom: 1%;
	padding: 5px 15px;
	box-shadow: 0px 2px 2px gray, 
        -2px 2px 2px gray, 2px 2px 2px gray;
    width: 90%;
    margin:auto;
}
.dc-desc {
	font-size: 14px;
}
/* Company page */

.company-other {
	height: 400px;

}
